{% extends 'base.html' %} 
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %}

{% block content %}
<div id="story-wrapper">
  {% if request.user.is_authenticated %}
  <div class="button-wrapper">
    <a class="button" href="{% url 'news:newStory' %}">Write New Story</a>
  </div>
  {% endif %}
  
  {% include "./searchBar.html" %}
  {% for result in search_results %}
  <div class="search-results">
    {% include "./storyCard.html" with story=result %}
    {% if query is not None %}
      No results to display
    {% endif %}
    </div>
  {% endfor %}

{% if search_results is None %}
  <h2>Latest News</h2>
  <div id="latest-stories">
    {% if latest_stories %} 
      {% for story in latest_stories %}
          {% include "./storyCard.html" with story=story position=forloop.counter %} 
      {% endfor %} 
    {% else %}
      <p>No stories are available.</p>
    {% endif %}
  </div>
  <h2>All News Stories</h2>
  <div id="all-stories">
    {% if latest_stories %} 
      {% for story in all_stories %} 
        {% include "./storyCard.html" with story=story %}
      {% endfor %} 
    {% else %}
      <p>No stories are available.</p>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}